/* 
    Margin left and right at 10px to body tags
    Margin left and right at 15px to div tags
    You must use a mixin
*/

@mixin marginbody{
    margin-left: 10px;
    margin-right: 10px;
}
body {
    @include marginbody;
}
@mixin divmargin{
   margin-left: 15px;
   margin-right: 15px;
}
div {
    @include divmargin;
}